<div class="wrapper">
  <div class="wrapper__spinner"
       *ngIf="isShowSpinner$ | async; else content"
  >
    <app-spinner
      [size]="60"
      [strokeWidth]="2"
      [strokeOpacity]="0.5"
    ></app-spinner>
  </div>
</div>

<ng-template #content>
  <div class="wrapper__content"
       *ngIf="(currentRepository$ | async) as currentRepository;"
  >
    <app-repository-item
      [item]="currentRepository"
      [keyList]="keyList"
      [ngStyle]="{'width': '100%', 'height': '100%'}"
    ></app-repository-item>
  </div>
</ng-template>
