<div class="wrapper">
  <div class="wrapper__content">
    <div class="content__spinner"
         *ngIf="isShowSpinner$ | async; else items"
    >
      <app-spinner
        [size]="60"
        [strokeWidth]="2"
        [strokeOpacity]="0.5"
      ></app-spinner>
    </div>
  </div>
</div>
<!-- TODO create stub failed search -->
<ng-template #items>
  <div class="content__items"
       *ngIf="filteredRepositories.length && (search$ | async)"
  >
    <div class="items__filters">
      <app-filters></app-filters>
    </div>
    <cdk-virtual-scroll-viewport
      class="scrollStyles"
      itemSize="30"
      minBufferPx="30"
      maxBufferPx="60"
    >
      <div class="items__list">
        <div class="list__item"
             *ngFor="let item of filteredRepositories"
             (click)="onClickItem(item.url)"
        >
          <div class="item__name">{{item.name}}</div>
          <span class="item__url">{{item.html_url}}</span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>
